body {
     background-image: url(https://previews.123rf.com/images/techdesign07/techdesign071804/techdesign07180400527/99099442-fond-de-mol%C3%A9cule-scientifique-pour-la-m%C3%A9decine-la-science-la-technologie-la-chimie-fond-d-%C3%A9cran.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-attachment: fixed;
        background-size: 1250px;

}
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    }
    ::-webkit-scrollbar-track-piece  {
    background-color:rgb(21, 21, 47);
    }
    ::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: rgb(255, 195, 0);
    }